@using InventoryManagement.Data
@model ExpenseCategory
@{
    Layout = null;
}

    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header peach-gradient white-text">
                <h4 class="m-0"><i class="fas fa-plus-circle"></i> Add Expense Category</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form data-ajax-update="#InsertModal" data-ajax="true" data-ajax-url="/ExpenseCategories/Create" data-ajax-method="post" data-ajax-success="onCreateSuccess">
                    <div class="md-form">
                        <input asp-for="CategoryName" class="form-control" />
                        <label for="CategoryName">Category Name</label>
                        <span asp-validation-for="CategoryName"></span>
                    </div>
                    <div class="text-center mt-1-half">
                        <button type="submit" class="btn peach-gradient mb-1 waves-effect waves-light">
                            Create<i class="fas fa-check ml-1"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
