@{
    ViewData["Title"] = "Expense Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="m-md-3">
    <div class="row">
        <div class="col justify-content-center align-self-center">
            <h4 class="page-header">Expense Category</h4>
        </div>
        <div class="col text-right">
            <a id="CreateClick" data-url="/ExpenseCategories/Create" class="btn-floating peach-gradient" title="Add New" data-toggle="modal">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <div class="card card-body">
        <table id="data-table" class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th style="width:30px">Edit</th>
                    <th style="width:30px">Delete</th>
                </tr>
            </thead>
            <tbody id="table-body"><tr><td colspan='3'>Loading...</td></tr></tbody>
        </table>
    </div>
</div>

<!-- Insert Modal -->
<div class="modal fade" id="InsertModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!-- Update Modal -->
<div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-hidden="true"></div>




@section Scripts {
    <partial name="_UnobtrusiveAjaxPartial" />
    <script src="~/page-js/expense-category.js?v=1.2"></script>
}
