
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container-fluid">
        <section class="mb-5 mt-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="media white z-depth-1 rounded">
                        <i class="far fa-money-bill-alt fa-2x success-color z-depth-1 p-4 rounded-left text-white mr-3"></i>
                        <div class="media-body mt-3">
                            <p class="text-uppercase text-muted mb-0"><small>sales</small></p>
                            <h5 class="font-weight-bold mb-0">23000</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="media white z-depth-1 rounded">
                        <i class="fas fa-chart-bar fa-2x pink z-depth-1 p-4 rounded-left text-white mr-3"></i>
                        <div class="media-body mt-3">
                            <p class="text-uppercase text-muted mb-0"><small>sales due</small></p>
                            <h5 class="font-weight-bold mb-0">1456</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="media white z-depth-1 rounded">
                        <i class="fas fa-chart-pie fa-2x teal z-depth-1 p-4 rounded-left text-white mr-3"></i>
                        <div class="media-body mt-3">
                            <p class="text-uppercase text-muted mb-0"><small>expense</small></p>
                            <h5 class="font-weight-bold mb-0">323540</h5>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="media white z-depth-1 rounded">
                        <i class="fas fa-download fa-2x deep-purple z-depth-1 p-4 rounded-left text-white mr-3"></i>
                        <div class="media-body mt-3">
                            <p class="text-uppercase text-muted mb-0"><small>net amount</small></p>
                            <h5 class="font-weight-bold mb-0">13540</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mb-5">
            <div class="card card-cascade narrower">
                <section>
                    <div class="row">
                        <div class="col-lg-5 mr-0 pb-2">
                            <div class="view view-cascade gradient-card-header aqua-gradient lighten-1 p-3">
                                <h3 class="h3-responsive mb-0 p-1 font-weight-light">Top Due Customers</h3>
                            </div>

                            <div class="card-body card-body-cascade">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Md Rofiqul Islam
                                        <strong>14000</strong>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Miraz hossain
                                        <strong>10000</strong>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Ratul Mia
                                        <strong>9000</strong>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Rasel ahmed
                                        <strong>10000</strong>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Monir hossain
                                        <strong>9000</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-7 mb-4 pb-2">
                            <div class="view view-cascade gradient-card-header aqua-gradient">
                                <canvas id="lineChart"></canvas>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="card mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h5 class="mt-4 mb-2 font-weight-bold">Monthly Sales</h5>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="progress mb-2 mt-1">
                                <div class="progress-bar warning-color" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="font-small grey-text mb-4">January</p>

                            <div class="progress mb-2">
                                <div class="progress-bar red accent-2" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="font-small grey-text mb-4">Febuary</p>

                            <div class="progress mb-2">
                                <div class="progress-bar primary-color" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="font-small grey-text mb-4">March</p>

                            <div class="progress mb-2">
                                <div class="progress-bar light-blue lighten-1" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="font-small grey-text mb-4">April</p>

                            <div class="progress mb-2">
                                <div class="progress-bar warning-color" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="font-small grey-text mb-4">May</p>

                            <div class="progress mb-2">
                                <div class="progress-bar red accent-2" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="font-small grey-text mb-4">June</p>

                            <div class="progress mb-2">
                                <div class="progress-bar primary-color" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="font-small grey-text mb-4">July</p>

                            <div class="progress mb-2">
                                <div class="progress-bar light-blue lighten-1" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="font-small grey-text mb-4">August</p>

                            <div class="progress mb-2">
                                <div class="progress-bar warning-color" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="font-small grey-text mb-4">September</p>

                            <div class="progress mb-2">
                                <div class="progress-bar red accent-2" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="font-small grey-text mb-4">October</p>

                            <div class="progress mb-2">
                                <div class="progress-bar primary-color" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="font-small grey-text mb-4">November</p>

                            <div class="progress mb-2">
                                <div class="progress-bar light-blue lighten-1" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="font-small grey-text mb-2">December</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-6 mb-2">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table large-header mb-1">
                                    <thead>
                                        <tr>
                                            <th class="font-weight-bold dark-grey-text"><strong>Month</strong></th>
                                            <th class="font-weight-bold dark-grey-text"><strong>Quantity</strong></th>
                                            <th class="font-weight-bold dark-grey-text"><strong>Sales</strong></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>January</td>
                                            <td>15</td>
                                            <td>307</td>
                                        </tr>
                                        <tr>
                                            <td>Febuary</td>
                                            <td>32</td>
                                            <td>504</td>
                                        </tr>
                                        <tr>
                                            <td>March</td>
                                            <td>41</td>
                                            <td>613</td>
                                        </tr>
                                        <tr>
                                            <td>April</td>
                                            <td>41</td>
                                            <td>613</td>
                                        </tr>
                                        <tr>
                                            <td>January</td>
                                            <td>15</td>
                                            <td>307</td>
                                        </tr>
                                        <tr>
                                            <td>Febuary</td>
                                            <td>32</td>
                                            <td>504</td>
                                        </tr>
                                        <tr>
                                            <td>March</td>
                                            <td>41</td>
                                            <td>613</td>
                                        </tr>
                                        <tr>
                                            <td>April</td>
                                            <td>41</td>
                                            <td>613</td>
                                        </tr>
                                        <tr>
                                            <td>January</td>
                                            <td>15</td>
                                            <td>307</td>
                                        </tr>
                                        <tr>
                                            <td>Febuary</td>
                                            <td>32</td>
                                            <td>504</td>
                                        </tr>
                                        <tr>
                                            <td>March</td>
                                            <td>41</td>
                                            <td>613</td>
                                        </tr>
                                        <tr>
                                            <td>April</td>
                                            <td>41</td>
                                            <td>613</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>        


@section Scripts { 
    <script>
        // Main chart
        var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
            type: 'line',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Monthly Sales",
                    fillColor: "#fff",
                    backgroundColor: 'rgba(255, 255, 255, .3)',
                    borderColor: 'rgba(255, 255, 255)',
                    data: [0, 10, 5, 2, 20, 30, 45, 0, 10, 5, 2, 20, 30, 45],
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "#fff",
                    }
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: true,
                            color: "rgba(255,255,255,.25)"
                        },
                        ticks: {
                            fontColor: "#fff",
                        },
                    }],
                    yAxes: [{
                        display: true,
                        gridLines: {
                            display: true,
                            color: "rgba(255,255,255,.25)"
                        },
                        ticks: {
                            fontColor: "#fff",
                        },
                    }],
                }
            }
        });
    </script>    
}