
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <main>
        <div class="container-fluid">
            <section class="mt-md-4 pt-md-2 mb-5 pb-4">
                <div class="row">
                    <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                        <div class="card card-cascade cascading-admin-card">
                            <div class="admin-up">
                                <i class="far fa-money-bill-alt primary-color mr-3 z-depth-2"></i>
                                <div class="data">
                                    <p class="text-uppercase">sales</p>
                                    <h4 class="font-weight-bold dark-grey-text">2000$</h4>
                                </div>
                            </div>

                            <div class="card-body card-body-cascade">
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="card-text">Better than last week (25%)</p>
                            </div>

                        </div>
                        <!-- Card -->

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">

                        <!-- Card -->
                        <div class="card card-cascade cascading-admin-card">

                            <!-- Card Data -->
                            <div class="admin-up">
                                <i class="fas fa-chart-line warning-color mr-3 z-depth-2"></i>
                                <div class="data">
                                    <p class="text-uppercase">subscriptions</p>
                                    <h4 class="font-weight-bold dark-grey-text">200</h4>
                                </div>
                            </div>

                            <!-- Card content -->
                            <div class="card-body card-body-cascade">
                                <div class="progress mb-3">
                                    <div class="progress-bar red accent-2" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="card-text">Worse than last week (25%)</p>
                            </div>

                        </div>
                        <!-- Card -->

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-xl-3 col-md-6 mb-md-0 mb-4">

                        <!-- Card -->
                        <div class="card card-cascade cascading-admin-card">

                            <!-- Card Data -->
                            <div class="admin-up">
                                <i class="fas fa-chart-pie light-blue lighten-1 mr-3 z-depth-2"></i>
                                <div class="data">
                                    <p class="text-uppercase">traffic</p>
                                    <h4 class="font-weight-bold dark-grey-text">20000</h4>
                                </div>
                            </div>

                            <!-- Card content -->
                            <div class="card-body card-body-cascade">
                                <div class="progress mb-3">
                                    <div class="progress-bar red accent-2" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="card-text">Worse than last week (75%)</p>
                            </div>

                        </div>
                        <!-- Card -->

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-xl-3 col-md-6 mb-0">

                        <!-- Card -->
                        <div class="card card-cascade cascading-admin-card">

                            <!-- Card Data -->
                            <div class="admin-up">
                                <i class="fas fa-chart-bar red accent-2 mr-3 z-depth-2"></i>
                                <div class="data">
                                    <p class="text-uppercase">organic traffic</p>
                                    <h4 class="font-weight-bold dark-grey-text">2000</h4>
                                </div>
                            </div>

                            <!-- Card content -->
                            <div class="card-body card-body-cascade">
                                <div class="progress mb-3">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="card-text">Better than last week (25%)</p>
                            </div>

                        </div>
                        <!-- Card -->

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </section>

            <section class="mb-5">
                <div class="card card-cascade narrower">
                    <section>
                        <div class="row">
                            <div class="col-lg-5 mr-0 pb-2">
                                <div class="view view-cascade gradient-card-header light-blue lighten-1">
                                    <h2 class="h2-responsive mb-0">Top Customers</h2>
                                </div>

                                <div class="card-body card-body-cascade">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="font-weight-bold dark-grey-text"><strong>Name</strong></th>
                                                <th class="font-weight-bold dark-grey-text"><strong>Quantity</strong></th>
                                                <th class="font-weight-bold dark-grey-text"><strong>Amount</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Material Design</td>
                                                <td>15</td>
                                                <td>307</td>
                                            </tr>
                                            <tr>
                                                <td>Bootstrap</td>
                                                <td>32</td>
                                                <td>504</td>
                                            </tr>
                                            <tr>
                                                <td>MDBootstrap</td>
                                                <td>41</td>
                                                <td>613</td>
                                            </tr>
                                            <tr>
                                                <td>Frontend</td>
                                                <td>14</td>
                                                <td>208</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn btn-flat grey lighten-3 btn-rounded waves-effect font-weight-bold dark-grey-text btn-dash">View full report</button>
                                </div> 
                            </div>

                            <div class="col-lg-7 mb-4 pb-2">
                                <div class="view view-cascade gradient-card-header blue-gradient">
                                    <canvas id="lineChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>

            <section>
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="card mb-4">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h5 class="mt-4 mb-4 font-weight-bold">Monthly Sales</h5>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="progress mb-2 mt-1">
                                    <div class="progress-bar warning-color" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                            
                                <p class="font-small grey-text mb-4">January</p>
                               <div class="progress mb-2">
                                    <div class="progress-bar red accent-2" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>

                                <!-- Text -->
                                <p class="font-small grey-text mb-4">Febuary</p>

                                <div class="progress mb-2">

                                    <div class="progress-bar primary-color" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    </div>

                                </div>

                                <!-- Text -->
                                <p class="font-small grey-text mb-4">March</p>

                                <div class="progress mb-2">
                                    <div class="progress-bar light-blue lighten-1" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!-- Text -->
                                <p class="font-small grey-text mb-2">April</p>
                            </div>
                            <!-- Card content -->

                        </div>
                        <!-- Card -->

                    </div>

                    <div class="col-xl-6 col-md-6 mb-2">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table large-header mb-1">
                                        <thead>
                                            <tr>
                                                <th class="font-weight-bold dark-grey-text"><strong>Month</strong></th>
                                                <th class="font-weight-bold dark-grey-text"><strong>Quantity</strong></th>
                                                <th class="font-weight-bold dark-grey-text"><strong>Sales</strong></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>January</td>
                                                <td>15</td>
                                                <td>307</td>
                                            </tr>
                                            <tr>
                                                <td>Febuary</td>
                                                <td>32</td>
                                                <td>504</td>
                                            </tr>
                                            <tr>
                                                <td>March</td>
                                                <td>41</td>
                                                <td>613</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <button class="btn btn-flat grey lighten-3 btn-rounded waves-effect float-right font-weight-bold dark-grey-text btn-dash">
                                    View full report
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

@section Scripts{ 
    <script>
        // Small chart
        $(function () {
            $('.min-chart#chart-sales').easyPieChart({
                barColor: "#FF5252",
                onStep: function (from, to, percent) {
                    $(this.el).find('.percent').text(Math.round(percent));
                }
            });

            $('.mdb-select').material_select();
            $('[data-toggle="tooltip"]').tooltip()
        });

        // Main chart
        var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
            type: 'line',
            data: {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [{
                    label: "My First dataset",
                    fillColor: "#fff",
                    backgroundColor: 'rgba(255, 255, 255, .3)',
                    borderColor: 'rgba(255, 255, 255)',
                    data: [0, 10, 5, 2, 20, 30, 45],
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "#fff",
                    }
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: true,
                            color: "rgba(255,255,255,.25)"
                        },
                        ticks: {
                            fontColor: "#fff",
                        },
                    }],
                    yAxes: [{
                        display: true,
                        gridLines: {
                            display: true,
                            color: "rgba(255,255,255,.25)"
                        },
                        ticks: {
                            fontColor: "#fff",
                        },
                    }],
                }
            }
        });

        // Data Picker Initialization
        $('.datepicker').pickadate();
    </script>    
}