@using InventoryManagement.Repository
@model InstitutionVM
@{
    ViewData["Title"] = "Store Info";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <style>
        .file-field input.file-path { font-size: .87rem; font-weight: 300; }
    </style>
}


<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-10 mx-auto">
            <div class="card card-body">
                <h4 class="page-header my-3 text-center">Store Info</h4>
                <form asp-action="StoreInfo">
                    <div class="md-form">
                        <input asp-for="InstitutionName" class="form-control" />
                        <label for="InstitutionName">Institution Name</label>
                        <span asp-validation-for="InstitutionName"></span>
                    </div>

                    <div class="md-form">
                        <input asp-for="Address" class="form-control" />
                        <label for="Address">Address</label>
                        <span asp-validation-for="Address"></span>
                    </div>

                    <div class="form-row">
                        <div class="col-md-5">
                            <div class="md-form">
                                <input asp-for="Phone" class="form-control" />
                                <label for="Phone">Phone</label>
                                <span asp-validation-for="Phone"></span>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="md-form">
                                <input asp-for="Email" class="form-control" />
                                <label for="Email">Email</label>
                            </div>
                        </div>
                    </div>
                    <div class="md-form">
                        <input type="submit" value="Save" class="btn peach-gradient" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />  
}
