@using InventoryManagement.Repository
@model IEnumerable<ProductCatalogShow>
@{
    Layout = null;
}


@foreach (var sub in Model)
{
    <li class="childCategory d-flex justify-content-between">
        <div>
            <a href="/Product/AddProduct/@sub.ProductCatalogId"> <span class="far fa-folder-open ic-w mr-1"></span>@sub.CatalogName</a>
        </div>
        <div>
            <i data-id="@sub.ProductCatalogId" class="delete fal fa-trash-alt mr-2"></i>
            <i data-id="@sub.ProductCatalogId" class="edit fal fa-edit"></i>
        </div>
    </li>

    @if (sub.SubCatalog.Any())
    {
        <ul class="nested mb-1">
            <partial name="_SubCatalog" model="@sub.SubCatalog" />
        </ul>
    }

}
