@using InventoryManagement.Repository
@model ProductShowViewModel
@{
    ViewData["Title"] = "Add Product Info";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="m-md-3">
    <h4 class="mb-3 page-header">Add Product Info</h4>

    <section class="card card-body">
        <form id="formProduct" asp-action="AddProduct">
            <div class="form-row">
                <div class="col-lg-3">
                    <div class="md-form">
                        <select name="ProductCatalogId" id="ParentId" asp-items="ViewBag.ParentId" class="mdb-select" required>
                            <option value="" selected>Select Category</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="md-form">
                        <input id="inputProductName" name="ProductName" class="form-control" type="text" required />
                        <label for="inputProductName">Product Name</label>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="md-form">
                        <input id="inputWarranty" name="Warranty" class="form-control" type="text" />
                        <label for="inputWarranty">Warranty</label>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="md-form">
                        <input id="inputDescription" name="Description" class="form-control" type="text" />
                        <label for="inputDescription">Description</label>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <input type="submit" value="Add Product" class="btn btn-grey" />
            </div>
        </form>
    </section>

    <section class="card card-body mt-3">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th><strong>Product Name</strong></th>
                    <th><strong>Warranty</strong></th>
                    <th><strong>Description</strong></th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </section>
</div>

@section Scripts{
    <script>
        // Material Select Initialization
        $('.mdb-select').materialSelect();

        // selectors
        const parentId = document.getElementById('ParentId')
        const tbody = document.getElementById('tbody')

        // functions
        const onCategoryChanged = function () {
            let categoryId = +this.value
            if (!categoryId) return

            const url = '/Product/GetProductByCategory'
            const param = { params: { categoryId: categoryId} };

            axios.get(url, param).then(res=> console.log(res.data))
        }

        // event
        parentId.addEventListener('change', onCategoryChanged)
    </script>
}
