
@{
    ViewData["Title"] = "Barcode";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <link href="~/css/barcode.css" rel="stylesheet" />
}

<div class="container">
    <div class="card card-body pb-0 mb-3 d-print-none">
        <form id="formCode">
            <div class="form-row">
                <div class="col-lg-3">
                    <div class="md-form">
                        <input id="inputNumerOfCode" type="number" class="form-control" value="40" min="1" max="280" required />
                        <label for="inputNumerOfCode">Numer of barcode</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="md-form">
                        <input id="inputBarWidth" type="number" value="1" step="0.01" class="form-control" min="0" max="3" required />
                        <label for="inputBarWidth">Bar width</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="md-form">
                        <input id="inputHeight" type="number" class="form-control" value="30" step="0.01" min="0" max="120" required />
                        <label for="inputHeight">Barcode Height</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="md-form">
                        <input id="inputCodeFontSize" type="number" class="form-control" value="12" step="0.01" min="0" max="30" required />
                        <label for="inputCodeFontSize">Code Font Size</label>
                    </div>
                </div>
                <div class="col-lg-3 text-right">
                    <div class="md-form">
                        <button id="btnBarcode" class="btn btn-rounded peach-gradient btn-sm">Generate <i class="fas fa-qrcode ml-1"></i></button>
                        <a onclick="window.print()" class="btn-floating btn-sm btn-elegant m-0"><i class="fas fa-print" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="code-container"></div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.0/JsBarcode.all.min.js"></script>
    <script>
        const getRandom = function () {
            const rand = (Math.random() * 100);
            return Math.floor(Date.now() + rand);
        }

        const generateBarcode = function (evt) {
            evt.preventDefault();

            const codeContainer = document.getElementById('code-container');
            const inputNumerOfCode = +document.getElementById('inputNumerOfCode').value;
            const inputBarWidth = +document.getElementById('inputBarWidth').value;
            const inputHeight = +document.getElementById('inputHeight').value;
            const inputFontSize = +document.getElementById('inputCodeFontSize').value;

            const fragment = document.createDocumentFragment();
            codeContainer.innerHTML = '';

            for (let i = 0; i < inputNumerOfCode; i++) {
                const canvas = document.createElement('canvas');
                canvas.classList.add('barcode');
                fragment.appendChild(canvas);
            }

            //append the canvas in DOM
            codeContainer.appendChild(fragment);

            const canvas = document.querySelectorAll('.barcode');
            const options = {
                height: inputHeight,
                width: inputBarWidth,
                fontSize: inputFontSize,
                margin: 5
            }

            canvas.forEach(canvas => {
                JsBarcode(canvas, getRandom(), options);
            }); 
        }

        //selectors
        const formCode = document.getElementById('formCode');
        formCode.addEventListener('submit', generateBarcode);
    </script>
}