
@{
    ViewData["Title"] = "Barcode";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <link href="~/css/barcode.css?v=1.4" rel="stylesheet" />
}

<div class="container">
    <div class="card pl-3 mb-3 d-print-none">
        <form id="formCode">
            <div class="form-row">
                <div class="col-md-6 col-lg-3">
                    <div class="md-form">
                        <input id="inputNumerOfCode" name="inputNumerOfCode" type="number" class="form-control" min="1" max="280" required />
                        <label for="inputNumerOfCode">Numer of barcode</label>
                    </div>
                </div>
                <div class="col-md-6 col-lg-9">
                    <div class="md-form">
                        <button id="btnBarcode" class="btn btn-rounded peach-gradient btn-sm">Generate Barcode <i class="fas fa-qrcode ml-1"></i></button>
                        <a onclick="window.print()" class="btn-floating btn-sm btn-elegant"><i class="fas fa-print" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="code-container"></div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.0/JsBarcode.all.min.js"></script>
    <script>
        const getRandom = function () {
            const rand = (Math.random() * 100);
            return Math.floor(Date.now() + rand);
        }

        const generateBarcode = function (evt) {
            const codeContainer = document.getElementById('code-container');
            const inputNumerOfCode = +document.getElementById('inputNumerOfCode').value;
            const fragment = document.createDocumentFragment();
            codeContainer.innerHTML = '';

            for (let i = 0; i < inputNumerOfCode; i++) {
                const canvas = document.createElement('canvas');
                canvas.classList.add('barcode');
                fragment.appendChild(canvas);
            }

            //append the canvas in DOM
            codeContainer.appendChild(fragment);

            const canvas = document.querySelectorAll('.barcode');
            const options = {
                height: 55,
                width: 1.5,
                margin: 5,
                fontSize: 13,
            }

            canvas.forEach(canvas => {
                JsBarcode(canvas, getRandom(), options);
            }); 

            evt.preventDefault();
        }

        //selectors
        const formCode = document.getElementById('formCode');
        formCode.addEventListener('submit', generateBarcode);
    </script>
}