@using InventoryManagement.Repository
@model ProductCatalogViewModel
@{
    ViewData["Title"] = "Catalog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card card-body p-4">
                <h4 class="page-header mt-4 text-center">Add Product Category</h4>

                <form asp-action="Catalog">
                    <div class="form-row">
                        <div class="col">
                            <select id="CatalogTypeId" name="CatalogTypeId" class="mdb-select" style="display: none">
                                <option value="" selected>Category Type</option>
                            </select>
                        </div>
                        <div class="col-1">
                            <a class="btn-floating peach-gradient btn-sm" data-toggle="modal" data-target="#modalCatalogType"><i class="far fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <select name="ParentId" searchable="Search here.." asp-items="ViewBag.ParentId" class="mdb-select md-form mb-5" style="display: none">
                        <option value="" selected>Parent Category</option>
                    </select>

                    <div class="md-form mt-4">
                        <input asp-for="CatalogName" class="form-control" required />
                        <label for="CatalogName">Category Name</label>
                        <span asp-validation-for="CatalogName"></span>
                    </div>

                    <button id="btnSubmit" class="btn peach-gradient btn-rounded my-4" type="submit">Submit</button>
                </form>

                <a asp-action="CatalogList">Back to List</a>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="modalCatalogType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center mb-0">
                <form id="formCatalogType">
                    <div class="md-form ml-0 mr-0">
                        <input name="CatalogType" type="text" id="inputCatalogType" class="form-control" />
                        <label for="inputCatalogType">Add Category Type</label>

                        <input type="submit" id="btnInputType" value="add" class="btn btn-deep-purple btn-sm" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(function () {
            $('.mdb-select').materialSelect();
        });

        //selectors
        const selectCatalogType = document.getElementById("CatalogTypeId");
        const formCatalogType = document.getElementById("formCatalogType");

        //functions
        const appendCatalogType = function (text, value) {
            const option = document.createElement("option");
            option.text = text;
            option.value = value;

            selectCatalogType.add(option);
        }

        const getCatalogType = function () {
            axios.get('/Product/CatalogType')
                .then(function (response) {
                    response.data.forEach(item => {
                        appendCatalogType(item.CatalogType, item.CatalogTypeId);
                    });
                })
                .catch(function (error) {
                    if (error.response)
                        console.log(`Code: ${error.response.status} message: ${error.response.data}`);
                })

        }

        const onTypeSubmit = function (evt) {
            evt.preventDefault();

            const url = '/Product/CatalogType';
            const inputCatalogType = evt.target.inputCatalogType;
            const options = {
                method: 'post',
                url: url,
                data: { CatalogType: inputCatalogType.value }
            }

            axios(options)
                .then(function (response) {
                    const { CatalogType, CatalogTypeId } = response.data;
                    appendCatalogType(CatalogType, CatalogTypeId);
                    $("#modalCatalogType").modal('hide');
                    inputCatalogType.value = '';
                })
                .catch(function (error) {
                    console.log(error.response);
                });
        }


        //events
        formCatalogType.addEventListener('submit', onTypeSubmit);

        //call function
        getCatalogType();
    </script>
}