@using InventoryManagement.Repository
@model ProductCatalogUpdateViewModel
@{
    ViewData["Title"] = "Category Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card card-body p-4">
                <h4 class="page-header mt-4 text-center">Update Category</h4>
                <form asp-action="CatalogUpdate">
                    <input type="hidden" name="ProductCatalogId" value="@Model.ProductCatalogId"/>
                    <div class="md-form mt-4">
                        <input asp-for="CatalogName" class="form-control" required/>
                        <label for="CatalogName">Category Name</label>
                        <span asp-validation-for="CatalogName"></span>
                    </div>

                    <button id="btnSubmit" class="btn peach-gradient btn-rounded my-4" type="submit">Update</button>
                </form>

                <a asp-action="CatalogList">Back to List</a>
            </div>
        </div>
    </div>
</div>

