@using InventoryManagement.Repository
@model IEnumerable<ProductCatalogShow>

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <div class="container">
        <div class="row">
            <div class="col justify-content-center align-self-center">
                <h4 class="page-header">Category List</h4>
            </div>
            <div class="col text-right">
                <a href="/Product/Catalog" class="btn-floating peach-gradient" title="Add New">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>   

    <div class="m-3 card card-body">
        <div class="treeview">
            <ul class="list-group list-group-flush">
                @foreach (var catalog in Model)
                {
                    <li class="list-group-item">
                        <i class="fas fa-angle-right rotate"></i>
                        <span><i class="far fa-folder-open ic-w mx-1"></i>@catalog.CatalogName</span>

                        @if (catalog.SubCatalog != null)
                        {
                            <partial name="_SubCatalog" model="@catalog.SubCatalog" />
                        }
                    </li>

                }
            </ul>
        </div>
    </div>           

