
@{
    ViewData["Title"] = "Find Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <style>
        .info-container { opacity: 0; transition: opacity .3s ease-in-out }
        .info-container.show { opacity: 1; transition: opacity .3s ease-in-out }

        ul.striped li { padding: .6rem; font-size: 1.1rem; }
        ul.striped li strong { color: #777 }
        ul.striped li span { margin-left: 5px }
    </style>
}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <h4 class="mb-3 page-header d-print-none">Find Product</h4>

        <div class="card card-body mb-3 p-5">
            <form id="formCode">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="md-form mt-0 mb-0 flex-1">
                        <input id="inputProductCode" autocomplete="off" type="text" class="form-control" required />
                        <label for="inputProductCode">Product code</label>
                        <span id="codeError" class="field-validation-error"></span>
                    </div>

                    <button id="btnFind" type="submit" class="btn btn-sm btn-deep-orange">
                        <i class="far fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="card card-body p-5 info-container">
            <div class="text-center">
                <h4 class="mb-1 font-weight-bold"><strong id="category"></strong></h4>
            </div>
            <ul class="striped list-unstyled mb-0">
                <li id="receipt"></li>
                <li id="purchase"></li>
                <li><strong>Code:</strong><span id="productCode"></span></li>
                <li><strong>Brand and Model:</strong><span id="productName"></span></li>
                <li><strong>Purchase Price:</strong><span id="purchasePrice"></span></li>
                <li><strong>Selling Price:</strong><span id="sellingPrice"></span></li>
                <li><strong>Warranty:</strong><span id="warranty"></span></li>
                <li><strong>Description:</strong><span id="description"></span></li>
                <li><strong>Note:</strong><span id="note"></span></li>
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //*****SELECTORS*****/
        // product code form
        const formCode = document.getElementById('formCode')
        const inputProductCode = formCode.inputProductCode
        const codeError = formCode.querySelector('#codeError')
        const btnFind = formCode.btnFind
        const infoContainer = document.querySelector('.info-container')

        // on Product code submit
        formCode.addEventListener('submit', evt => {
            evt.preventDefault()
            const url = '/Product/FindProductDetailsByCode'
            const param = { params: { code: inputProductCode.value.trim() } };

            axios.get(url, param).then(res => {
                appendData(res.data)
            }).catch(err => console.log(err))
        })

        //append data
        function appendData(product) {
            codeError.textContent = '';
            if (!product) {
                codeError.textContent = `"${inputProductCode.value}" Not found!`;
                infoContainer.classList.remove('show')
                return;
            }

            infoContainer.classList.add('show');
            document.getElementById('category').textContent = product.ProductCatalogName;
            document.getElementById('productCode').textContent = product.ProductCode;
            document.getElementById('productName').textContent = product.ProductName;
            document.getElementById('purchasePrice').textContent = product.PurchasePrice;
            document.getElementById('sellingPrice').textContent = product.SellingPrice;
            document.getElementById('warranty').textContent = product.Warranty;
            document.getElementById('description').textContent = product.Description;
            document.getElementById('note').textContent = product.Note;

            const bill = document.getElementById('receipt');
            const purchase = document.getElementById('purchase');

            product.SellingId ? bill.innerHTML = `<strong class="green-text">Bill No: </strong><a target="_blank" href="/Selling/SellingReceipt/${product.SellingId}">#${product.SellingSn}</a>` : bill.innerHTML = '';
            purchase.innerHTML = `<a target="_blank" href="/Purchase/PurchaseReceipt/${product.PurchaseId}">Purchase Details <i class="fal fa-long-arrow-right"></i></a>`;
        }
    </script>
}
