
@{
    ViewData["Title"] = "Selling";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{ 
<style>
    .remove { cursor:pointer}
    #formPayment { padding: 15px 0; color: #4f4f4f; }
    #formPayment ul { list-style-type: none; padding: 0;}
    #formPayment ul li strong{ font-weight:500;}
</style>
}

<div class="container">
    <h4 class="mb-3 page-header d-print-none">Selling</h4>

    <div class="row">
        <div class="col-lg-8 mb-3">
            <div class="card card-body mb-3">
                <form id="formCode">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="md-form mt-0 mb-0 flex-1">
                            <input id="inputBarCode" autocomplete="off" type="text" class="form-control" required />
                            <label for="inputBarCode">Product barcode</label>
                        </div>

                        <button id="btnFind" type="submit" class="btn btn-sm btn-dark mr-5">find</button>
                        <div class="text-right text-muted"><span id="productCount">0</span> items</div>
                    </div>
                </form> 
            </div>
            <div class="card card-body">
                <table class="table">
                    <thead class="text-muted">
                        <tr>
                            <th>PRODUCT</th>
                            <th>QUANTITY</th>
                            <th>PRICE</th>
                            <th style="width:80px">REMOVE</th>
                        </tr>
                    </thead>
                    <tbody id="t-body"></tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-body">
                <form id="formPayment">
                    <ul>
                        <li class="d-flex justify-content-between align-items-center">
                            <strong>Total Amount</strong>
                            <strong>৳<span id="totalPrice">100</span></strong>
                        </li>
                        <li class="md-form">
                            <input id="inputDiscount" type="number" min="0" class="form-control">
                            <label for="inputDiscount">Discount</label>
                        </li>
                        <li class="d-flex justify-content-between align-items-center text-success">
                            <strong>Grand Total</strong>
                            <strong>৳<span id="totalPayable">100</span></strong>
                        </li>
                        <li class="md-form">
                            <input id="inputPaid" type="number" min="0" class="form-control">
                            <label for="inputPaid">Paid Amount</label>
                        </li>
                        <li class="d-flex justify-content-between align-items-center text-danger">
                            <strong>Total Due</strong>
                            <strong>৳<span id="totalDue">100</span></strong>
                        </li>
                        <li class="md-form">
                            <select id="selectPaymentMethod" class="mdb-select" style="position: absolute; top: 1rem; left: 0px; height: 0px; width: 0px; opacity: 0; padding: 0px; pointer-events: none; display: inline!important;">
                                <option value="" selected>[ Payment Method ]</option>
                                <option>Cash</option>
                                <option>Bank</option>
                                <option>Cheque</option>
                                <option>bkash</option>
                            </select>
                        </li>
                        <li class="md-form mt-5">
                            <input id="inputPurchaseDate" type="text" class="form-control datepicker" />
                            <label id="label-date" for="inputPurchaseDate">Purchase Date</label>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <div class="md-form mt-4 flex-1">
                                <input id="inputCustomer" type="text" class="form-control" />
                                <label for="inputCustomer">Find Customer</label>
                            </div>
                            <a href="/Customer/Add" target="_blank" class="btn-floating btn-sm blue-gradient"><i class="fas fa-plus" aria-hidden="true"></i></a>
                        </li>
                    </ul>

                    <div class="mt-4 text-center">
                        <i id="vendor-error" class="mt-2 text-center red-text"></i>
                        <button type="submit" id="btnPurchase" class="btn peach-gradient btn-rounded btn-block mt-0">SELL PRODUCT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/onscan.min.js"></script>
    <script src="~/page-js/product-selling.js?v=1.1"></script>
}