@using InventoryManagement.Repository
@model ProductShowViewModel
@{
    ViewData["Title"] = "Product Stock";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="m-md-3">
    <h4 class="mb-3 page-header">Product Stock</h4>

    
</div>

@section Scripts{
    
}
