#code-container { background-color: #fff; text-align:center; border-radius: 5px; -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12); box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12); }
.svg-container { display: inline-block; border: 1px solid #000000; margin: 6.4px; }

@media print { #header { display:none}
    #code-container { border-radius: 0; box-shadow: none !important }
    
}