
.card-signin { border: 0; border-radius: 1rem; box-shadow: 0 0.5rem 1rem .3rem rgba(0, 0, 0, 0.1); }
.card-signin .card-title { margin-bottom: 2rem; font-weight: 300; font-size: 1.5rem; }
.card-signin .card-body { padding: 2rem; }
.form-signin { width: 100%; padding:0 1rem }
.form-signin .btn { color: #fff; font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; padding: 1rem; transition: all 0.2s; }
