
body { background-color: #fff; color: black }
.section-devider { height: 3px; background-color: black; width: 100% }
#institution-info h3 { font-weight: 700; color: #f75a23; }
#institution-info p { font-weight: 400; margin: 0 }

/*#main-page { position: relative; height: 1000px }*/

.receipt-date { font-size: 15px; font-weight: bold }
.receipt-date h5 { border: 2px solid #333; font-size: 20px; padding: 9px; border-radius: 15px; font-weight: 700; margin: 0; }

#vendor-area { margin-bottom: 15px }
#vendor-area h5 { font-size: 15px }

#main-page table { border: 1px solid #000; width: 100%; text-align:center }
#main-page table thead th { vertical-align: bottom; border-bottom: 2px solid #8B8B8B; text-align: center; background-color: #f0f0f0; }
#main-page table td, th { padding: 0.5rem; font-weight: 400; border: 1px solid #000; }
/*#main-page table tr td:nth-child(1) { text-align: center; }
#main-page table tr td:nth-child(4) { text-align: center; }
#main-page table tr td:nth-child(5) { text-align: right; }
#main-page table tr td:nth-child(6) { text-align: right; }*/
#main-page table h5 { font-weight: 400; font-size: 16px }
#amount-word { font-style: italic; font-size: 14px }

/*.p-footer { position: absolute; bottom: 0; width: 100%; border-top: 1px solid #333; padding-top: 5px; }*/


#main-page table ul li { list-style: none; text-align: left; }

@page { margin: 3rem}
@media print {
    #header { display: none !important }
    table td, table th { font-size: .8rem; }
}
