
body { background-color: #fff; }

table td, table th { font-size: 1.05rem; color: black !important; font-size: 14px; }
.table-bordered th,
.table-bordered td { border: 1px solid #000 !important;  }
table.table-sm td, table.table-sm th { padding-top: .25rem; padding-bottom: .25rem; }

.table th { text-align: center}
.product-tb h5 { font-weight: 400; font-size: 14.5px; color: black; margin-bottom: 5px; }
.product-tb h5 strong { margin-left: 5px; color: black; }

#amount-word { font-style: italic; font-size: 15px; color: black; }

.paid-record fieldset legend { width: auto !important; padding: 0 8px; margin-bottom: 0; font-size: 16px; font-weight: bold; color: black !important; }

@page { margin: 2in .5in 0 .5in }
@media print {
    #header { display: none !important }
}
