
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_SalesmanLayout.cshtml";
}

<div class="m-md-3">
    <h4 class="page-header">Dashboard</h4>
    <p>Balance: @ViewBag.Balance</p>
</div>


