
@{
    ViewData["Title"] = "Selling Product";
    Layout = "~/Views/Shared/_SalesmanLayout.cshtml";
}

@section Styles{
    <style>
        .remove { cursor: pointer }
        .remove:hover { color: #ff0000 }
        #formPayment ul { list-style-type: none; padding: 0; }
        #formPayment ul li strong { font-weight: 500; }
        .md-form textarea.md-textarea { padding: .8rem 0; }

        table tbody tr .codeSpan span { margin-right: 5px; }
        table tbody tr .codeSpan span:not(:last-child):after { content: ',' }
        table tbody tr .codeSpan span:hover { cursor: pointer; color: #ff0000 }
        table tbody tr .codeSpan span:hover::after { content: 'x'; }
        .inputUnitPrice { min-width: 110px; text-align: center }
    </style>  
}

<div class="m-3">
    <h4 class="mb-3 page-header d-print-none">Selling</h4>

    <div class="row">
        <div class="col-xl-9 mb-3">
            <div class="card card-body mb-3">
                <form id="formCode">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="md-form mt-0 mb-0 flex-1">
                            <input id="inputBarCode" autocomplete="off" type="text" class="form-control" required />
                            <label for="inputBarCode">Product code</label>
                            <span id="codeExistError" class="field-validation-error"></span>
                        </div>

                        <button id="btnFind" type="submit" class="btn btn-sm btn-dark mr-5">
                            <i class="far fa-search text-white"></i>
                            <i class="fas fa-circle-notch fa-spin" style="display:none"></i>
                        </button>
                        <div class="text-right text-muted"><span id="productCount">0</span> items</div>
                    </div>
                </form>
            </div>

            <div class="card card-body">
                <div class="table-responsive">
                    <form id="formTable">
                        <table class="table">
                            <thead class="text-muted">
                                <tr>
                                    <th>PRODUCT</th>
                                    <th>DESCRIPTION</th>
                                    <th>WARRANTY</th>
                                    <th>QTY</th>
                                    <th>U.PRICE</th>
                                    <th class="text-right">PRICE</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="t-body"></tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-right" colspan="6"><strong id="productTotalPrice"></strong></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                        <input id="btnProduct" type="submit" style="display:none" />
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xl-3">
            <form id="formPayment">
                <div class="card card-body mb-3">
                    <ul class="mb-0">
                        <li class="d-flex justify-content-between align-items-center">
                            <div class="md-form mt-2 flex-1">
                                <input id="inputCustomer" type="text" class="form-control" autocomplete="off" />
                                <label for="inputCustomer">Find Customer</label>
                                <div id="customerInfo" class="text-center"></div>
                            </div>
                            <input id="hiddenCustomerId" type="hidden" />
                            <a href="/Customer/Add" target="_blank" class="btn-floating btn-sm blue-gradient"><i class="fas fa-plus" aria-hidden="true"></i></a>
                        </li>
                        <div class="text-center">
                            <i id="customer-error" class="mt-2 text-center red-text"></i>
                            <button type="submit" id="btnSelling" class="btn peach-gradient btn-rounded btn-block mt-0">SELL PRODUCT</button>
                        </div>
                        <li class="md-form">
                            <input id="inputDiscount" step="0.01" type="number" min="0" class="form-control">
                            <label for="inputDiscount">Discount</label>
                        </li>
                        <li class="d-flex justify-content-between align-items-center text-success">
                            <strong>Grand Total</strong>
                            <strong>৳<span id="totalPayable">0</span></strong>
                        </li>
                        <li class="md-form">
                            <input id="inputPaid" type="number" step="0.01" min="0" class="form-control">
                            <label for="inputPaid">Paid Amount</label>
                        </li>
                        <li class="d-flex justify-content-between align-items-center text-danger">
                            <strong>Total Due</strong>
                            <strong>৳<span id="totalDue">0</span></strong>
                        </li>
                        <li class="md-form">
                            <select id="selectPaymentMethod" asp-items="ViewBag.Account" class="mdb-select" style="position: absolute; top: 1rem; left: 0; height: 0; width: 0; opacity: 0; padding: 0; pointer-events: none; display: inline !important;">
                                <option value="" selected>[ Payment Method ]</option>
                            </select>
                        </li>
                        <li class="md-form">
                            <input id="inputPromisedDate" type="text" class="form-control datepicker">
                            <label for="inputPromisedDate">Promised Payment Date</label>
                        </li>
                    </ul>
                </div>

                <div class="card card-body mb-3">
                    <ul class="mb-0">
                        <li class="md-form">
                            <input id="inputServiceCharge" step="0.01" type="number" min="0" class="form-control">
                            <label for="inputServiceCharge">Service Charge</label>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <strong>Total Amount</strong>
                            <strong>৳<span id="totalPrice">0</span></strong>
                        </li>
                        <li class="md-form">
                            <textarea id="inputServiceChargeDescription" rows="1" class="md-textarea form-control"></textarea>
                            <label for="inputServiceChargeDescription">Service Charge Description</label>
                        </li>
                        <li class="md-form">
                            <input id="inputServiceCost" step="0.01" type="number" min="0" class="form-control">
                            <label for="inputServiceCost">Service Cost</label>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/page-js/salesman-product-selling.js?v=1.0.0"></script>
}