
@{
    ViewData["Title"] = "Fixed Cost";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h4 class="page-header mb-3">Fixed Cost</h4>
    
    <div class="card card-body">

    </div>
</div>

@section Scripts{
    <script>

    </script>
}
