
@{
    ViewBag.Title = "Expense";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <div class="m-3 card card-body">
        <div class="row">
            <div class="col justify-content-center align-self-center">
                <h4 class="page-header mb-0">Expense</h4>
            </div>
            <div class="col text-right">
                <a id="CreateClick" data-url="/Expenses/Create" class="btn-floating peach-gradient" title="Add New" data-toggle="modal">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <table id="data-table" class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>Expense Amount</th>
                    <th>Expense For</th>
                    <th>Payment Method</th>
                    <th>Expense Date</th>
                    <th style="width:30px">Delete</th>
                </tr>
            </thead>
            <tbody id="row-data"></tbody>
        </table>
    </div>

    <!-- Insert Modal -->
    <div class="modal fade" id="InsertModal" tabindex="-1" role="dialog" aria-hidden="true"></div>




@section Scripts {
    <partial name="_UnobtrusiveAjaxPartial" />
    <script>
        $(function () {
            indexData();
        });

        //get data
        function indexData() {
            const url = '/Expenses/IndexData';
            const row = $("#row-data");
            const emptyRow = "<tr><td colspan='5'>No data found!</td></tr>";

            $.get(url, function (response) {
                if (!response.length) {
                    row.append(emptyRow);
                    return;
                }

                row.children().remove();
                row.append(tableData(response));
            });
        };

        function tableData(data) {
            var html = "";
            $.each(data, function (i, item) {
                html += `<tr>
                        <td>${item.ExpenseAmount}</td>
                        <td>${item.ExpenseFor}</td>
                        <td>${item.ExpensePaymentMethod}</td>
                        <td>${moment(item.ExpanseDate).format('DD MMM YYYY')}</td>
                        <td><a style="color:#ff0000" class="delete fas fa-trash-alt" href="/Expenses/Delete/${item.ExpenseId}"></a></td>
                    </tr>`;
            });
            return html;
        };


        //Insert
        $("#CreateClick").on("click", function () {
            $.get($(this).data("url"), function (data) {
                $('#InsertModal').html(data).modal('show');
            });
        });

        function onCreateSuccess(data) {
            if (data !== "success") return;

            $('#InsertModal').modal('hide');
            indexData();
        }

        //error
        function onError(err) {
            console.log(`status: ${err.status}. message: ${err.responseText}`);
        }

        //Delete click
        $('#data-table').on("click", ".delete", function (evt) {
            evt.preventDefault();

            var row = $(this).closest("tr");
            var btnDelete = $(this);
            const url = $(this).attr('href');

            $('#table-row em').remove();
            $('#table-row tr').removeClass("error-color");

            if (!url) return;

            if (confirm("Are you sure you want to delete?")) {
                $.post(url, function (response) {
                    if (response === '0') {
                        row.addClass("error-color").after('<em class="used-error">This data already used in others place</em>');
                        btnDelete.removeAttr("href");
                        return;
                    }
                    row.hide();
                });
            }
        });
    </script>
}