
@{
    ViewBag.Title = "Expense";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="m-3">
    <h4 class="page-header mb-3">Expense</h4>

    <div class="card card-body">
        <table id="data-table" class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Voucher No</th>
                        <th class="text-left">Category</th>
                        <th>Amount</th>
                        <th class="text-left">Expense&nbsp;For</th>
                        <th>Expense&nbsp;Date</th>
                        <th>Posted By</th>
                        <th>Details</th>
                    </tr>
                </thead>
        </table>
    </div>
</div>


@section Scripts {
    <script>
        $(function() {
            dataTable.getData();
        });

        const dataTable = {
            table: null,
            filter: null,
            init: function() {
                dataTable.table = $("#data-table").DataTable({
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: "/Expenses/GetExpense",
                        type: "POST"
                    },
                    columns:
                    [
                        { data: "VoucherNo" },
                        { data: "ExpenseCategory" },
                        {
                            data: "ExpenseAmount",
                            "render": function(data) {
                                return `${data}/-`
                            }
                        },
                        { data: "ExpenseFor" },
                        { data: "ExpenseDate", "render": function(data) { return moment(data).format('DD MMM YYYY') } },
                        { data: "CreateBy" },
                        {
                            data: "Id",
                            "render": function (data, type, row, meta) {
                                console.log(row.IsTransportation)
                                const link = row.IsTransportation ? `TransportationCostDetails` : `GeneralExpenseDetails`;
                                return `<a class="${row.IsApproved ? "text-success" : "text-danger"}" href="/Expenses/${link}/${row.Id}">Details</a>`;
                            }
                        }
                    ],
                    columnDefs: [
                        { 'searchable': false, 'targets': [6] },
                        { 'sortable': false, 'targets': [6] },
                        { 'className': "text-left", "targets": [1, 3] },
                        { 'className': "text-right", "targets": [2] }
                    ],
                    order: [[4, 'desc']]
                });
            },
            getData: function() {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            }
        }
    </script>
}
