
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="m-md-3">
    <div class="row">
        <div class="col justify-content-center align-self-center">
            <h4 class="page-header mb-0">Customers</h4>
        </div>
        <div class="col text-right">
            <a id="CreateClick" href="/Customer/Add" class="btn-floating peach-gradient" title="Add New">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    
    <ul class="nav nav-tabs nav-justified md-tabs stylish-color" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#individual-tab" role="tab" aria-selected="true">Individual</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#corporate-tab" role="tab" aria-selected="false">Corporate</a>
        </li>
    </ul>

    <div class="tab-content card pt-5">
        <div class="tab-pane fade show active" id="individual-tab" role="tabpanel" aria-labelledby="home-tab-just">
            <table id="individual-table" class="table table-sm table-bordered data-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Mobile&nbsp;(Primary)</th>
                    <th>Address</th>
                    <th>Note</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody id="t-body"></tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="corporate-tab" role="tabpanel" aria-labelledby="profile-tab-just">
            <table id="corporate-table" class="table table-sm table-bordered data-table">
                <thead>
                <tr>
                    <th>Corporate Name</th>
                    <th>Concerned Person</th>
                    <th>Mobile&nbsp;(Primary)</th>
                    <th>Address</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody id="corporate-t-body"></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function() {
            appendTableIndividual();
            appendTableCorporate();
        });


        //append table data(individual)
        function appendTableIndividual() {
            axios.get('/Customer/CustomerList', { params: { customerType: true } }).then(response => {
                let html = '';
                response.data.forEach(row => {
                    html += `<tr>
                    <td class="text-left"><a class="blue-text" href="/Customer/Details/${row.CustomerId}">${row.CustomerName}</a></td>
                    <td>${row.PhonePrimary}</td>
                    <td class="text-left">${row.CustomerAddress}</td>
                    <td class="text-left">${row.Description ? row.Description : ''}</td>
                    <td><a class="fas fa-edit" href="/Customer/Update/${row.CustomerId}"></a></td</tr>`
                })

                //selector
                const tBody = document.getElementById('t-body');
                tBody.innerHTML = html;

                $("#individual-table").DataTable();
            })
        }

        //append table data(Corporate)
        function appendTableCorporate() {
            axios.get('/Customer/CustomerList', { params: { customerType: false } }).then(response => {
                let html = '';
                response.data.forEach(row => {
                    html += `<tr>
                    <td class="text-left"><a class="blue-text" href="/Customer/Details/${row.CustomerId}">${row.OrganizationName}</a></td>
                    <td class="text-left">${row.CustomerName}</td>
                    <td>${row.PhonePrimary}</td>
                    <td class="text-left">${row.CustomerAddress}</td>
                    <td><a class="fas fa-edit" href="/Customer/Update/${row.CustomerId}"></a></td</tr>`
                });

                //selector
                const tBody = document.getElementById('corporate-t-body');
                tBody.innerHTML = html;

                $("#corporate-table").DataTable();
            })
        }


        //$('#example').DataTable({
        //    "processing": true,
        //    "serverSide": true,
        //    "ajax": {
        //        "url": "scripts/server_processing.php",
        //        "data": function(d) {
        //             d.custom = $('#myInput').val();
        //        }
        //    }
        //});
    </script>
}