@using InventoryManagement.Repository
@model CustomerAddUpdateViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <style>
        .phone-container { display: flex; margin: 1.5rem 0; align-items: center; }
        .phone-container .add-element { margin-left: -23px; padding-bottom: 10px; }
        .phone-container .btn-floating.btn-sm { width: 22px; height: 22px; }
        .phone-container .btn-floating.btn-sm i { font-size: .70rem; line-height: 2px; pointer-events: none }
    </style>
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 col-lg-10 mx-auto">
            <div class="card card-body p-4">
                <h4 class="page-header mt-3 text-center">Update Customer</h4>
                @{
                    var imgSrc = "";
                    imgSrc = Model.Photo != null ? $"data:image/png;base64,{Convert.ToBase64String(Model.Photo)}" : "/images/defaultImage.jpg";
                }

            <div class="text-center my-2">
                <img src="@imgSrc" class="rounded-circle z-depth-1 img-thumbnail" style="height:100px; width:100px" alt="Photo" />
            </div>

            <form id="customer-form" asp-action="Update">
                <input id="customerId" type="hidden" name="CustomerId" value="@Model.CustomerId">

                <div class="md-form mb-5">
                    <input asp-for="CustomerName" class="form-control" />
                    <label asp-for="CustomerName">Name</label>
                </div>
                <div id="phone-wrapper">
                    <partial name="_UpdatePhonePartial" model="@Model.PhoneNumbers" />
                </div>

                <div class="form-row">
                    <div class="col-lg-5">
                        <div class="md-form mb-5">
                            <input asp-for="OrganizationName" class="form-control" />
                            <label asp-for="OrganizationName">Organization Name</label>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="md-form mb-5">
                            <input asp-for="CustomerAddress" class="form-control" />
                            <label asp-for="CustomerAddress">Address</label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-lg-7">
                        <div class="md-form mb-5">
                            <input asp-for="Description" class="form-control" />
                            <label asp-for="Description">Description</label>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="md-form form-sm mb-0">
                            <input type="hidden" id="Photo" name="Photo" />
                            <div class="file-field">
                                <div class="btn btn-outline-warning btn-rounded btn-sm float-left">
                                    <span><i class="fas fa-upload mr-2" aria-hidden="true"></i>Choose Photo</span>
                                    <input type="file" id="upload" value="Choose a Photo" onchange="clearImage(this)">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload your file" />
                                </div>
                            </div>
                        </div>

                        <div class="w-50 m-auto text-center">
                            <div id="upload-demo" style="display:none;"></div>
                            <img id="prevImage" alt="" />
                            <a id="doneButton" class="btn-floating btn-lg btn-black" style="display:none;"><i class="fas fa-crop-alt"></i></a>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <button id="btnSubmit" class="btn peach-gradient btn-rounded my-4 waves-effect" type="submit">Update Customer</button>
                    <a asp-action="List">Back to List</a>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/page-js/update-customer.js?v=1.1"></script>

    <script>
        let opt = {
            viewport: { width: 150, height: 150 },
            boundary: { width: 180, height: 180 },
            showZoomer: false,
            enableResize: true,
            enableOrientation: true
        };

        let $cropContainer = $('#upload-demo');
        let $uploadCrop = $cropContainer.croppie(opt);
        const $photo = $('#Photo');
        const $preview = $('#prevImage');
        const $btnDone = $('#doneButton');

        $('input[type="file"]').change(function (e) {
            const $this = $(e.target);
            const $fileField = $this.closest('.file-field');
            const $pathInput = $fileField.find('input.file-path');
            const fileNames = [];

            fileNames.push(e.target.files[0].name);

            $pathInput.val(fileNames.join(', '));
            $pathInput.trigger('change');
        });

        $('#upload').on('change', function () {
            readFile(this);
        });

        $btnDone.on('click', function () {
            $uploadCrop.croppie('result', { type: 'base64' }).then(function (res) {
                $photo.val(res.split(',')[1]);
                $cropContainer.hide();
                $btnDone.hide();
                $preview.attr('src', res).addClass('img-thumbnail rounded-circle');;
            });
        });

        function readFile(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    $uploadCrop.croppie('bind', { url: e.target.result });

                    $photo.val('');
                    $cropContainer.show();
                    $btnDone.show();
                    $preview.attr('src', '').removeClass('img-thumbnail rounded-circle');
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function clearImage(ctrl) {
            if ($(ctrl).val() === "") {
                $cropContainer.croppie('destroy');
                $uploadCrop = $cropContainer.croppie(opt);
            }
        }
    </script>
}


