
@{
    ViewData["Title"] = "Damaged List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="m-md-3">
    <h4 class="page-header mb-3">Damaged List</h4>

    <div class="card card-body">
        <table id="data-table" class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th><strong>Product</strong></th>
                    <th><strong>Note</strong></th>
                    <th><strong>Amount</strong></th>
                    <th><strong>Damage Date</strong></th>
                    <th><strong>Re-Stock</strong></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section scripts{
    <script>
        $(function() {
            dataTable.getData();
        });

        //get data
        const dataTable = {
            table: null,
            init: function() {
                dataTable.table = $("#data-table").DataTable({
                    processing: true,
                    serverSide: true,
                    buttons: dataTable.button,
                    dom: '<"row"<"col-sm-6"Bl><"col-sm-6"f>><"row"<"col-sm-12"<tr>>><"row"<"col-sm-5"i><"col-sm-7"p>>',
                    ajax: {
                        url: "/Damage/DamageListData",
                        type: "POST"
                    },
                    columns:
                    [
                        {
                            data: "ProductCode",
                            "render": function(data, type, row, meta) {
                                return `${row.ProductName}, ${data}`
                            }
                        },
                        {
                            data: "Note"
                        },
                        {
                            data: "DamagedAmount",
                            "render": dataTable.addSign
                        },
                        {
                            data: "DamagedDate",
                            "render": function(data, type, row, meta) {
                                return `${moment(data).format('DD MMM YYYY')}`
                            }
                        },
                        {
                            data: "ProductDamagedId",
                            "render": function(data, type, row, meta) {
                                return `<a id="${data}" class="restore-product blue-text">Re-Stock</a>`
                            }
                        }
                    ],
                    columnDefs: [
                        { 'searchable': false, 'targets': [2, 3] },
                        { 'className': "text-right", "targets": [2] },
                        { 'className': "text-left", "targets": [0, 1] }
                    ],
                    //order: [[5, 'desc']]
                });
            },
            getData: function() {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            },
            addSign: function(data) { return `${data}/-` },
            button: {
                buttons: [
                    {
                        title: '',
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> Print',
                        exportOptions: { /*columns: [0,1] //Column value those print*/  },
                        autoPrint: true,
                        customize: function(win) {
                            $(win.document.body).prepend(`<nav class="mb-3 navbar peach-gradient"><a class="navbar-brand ml-1"><span>Zephyr</span> IT</a></nav><h3 class="h3-responsive">${$('h4').text()}</h3>`);
                        }
                    }
                ],
                dom: {
                    button: { className: 'btn btn-dark btn-rounded btn-sm my-0' }
                }
            }
        }

        //re stock product
        const onTable = document.getElementById("data-table");
        onTable.addEventListener("click",
            function(evt) {
                const element = evt.target;
                const onRestock = element.classList.contains("restore-product");

                if (!onRestock) return;

                $.ajax({
                    url: '/Damage/ReStockProduct',
                    type: "POST",
                    data: { id: element.id },
                    success: response => {
                        if (response.IsSuccess) {
                            dataTable.getData();
                            return;
                        }

                        $.notify(response.Message, response.IsSuccess ? "success" : "error");
                    },
                    error: error => {
                        console.log(error);
                    }
                });
            });
    </script>
}