
@{
    ViewData["Title"] = "Page Access";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    <style>
        .data-table { text-align: left }
        .data-table th { background-color: #fff; color: #4f4f4f; padding-left: 20px }
        .data-table td { padding-left: 20px }
    </style>
}

<div class="container">
    <h4 class="page-header mb-3">Page Access</h4>

    <div class="card card-body">
        <form id="formAssign">
            <div id="table-container">
                <table class="data-table table table-sm table-bordered nowrap">
                    <thead>
                        <tr>
                            <th><strong><i class="fas fa-angle-right"></i> Customer</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" checked="" data-role="customer-list" value="1" class="form-check-input" id="1"><label class="form-check-label" for="1">Customers</label>
                            </td>
                        </tr>
                    </tbody>
                </table>  
            </div>

            <input id="btnAssign" value="Assign" type="submit" class="btn peach-gradient btn-rounded" />
            <div id="SuccessMessage" class="alert alert-success mt-2" style="display: none;">Assign Successfully!</div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        function AddTable(data) {
            var table = '';
            $.each(data,
                function(i, item) {
                    table += `<table class="data-table table table-sm table-bordered nowrap">
              <thead><tr><th><strong><i class="fas fa-angle-right"></i> ${item.Category}</strong></th></tr></thead>
              <tbody>${AddRows(item.Links)}</tbody>
            </table>`;
                });

            return table;
        }

        function AddRows(data) {
            var row = '';
            $.each(data,
                function(i, item) {
                    row += `<tr><td><input type="checkbox" ${item.IsAssign ? 'checked' : ''} data-role="${item.RoleName}" value="${item.LinkId}" class="form-check-input" id="${item.LinkId}"><label class="form-check-label" for="${item.LinkId}">${item.Title}</label></td></tr>`;
                });
            return row;
        }

        //Assign Click event to Button.
        $('form#formAssign').submit(function(e) {
            e.preventDefault();

            const regId = parseInt($('#selectSubAdmin').val());
            var links = [];
            const url = "/SubAdmin/postLinks";
            if (!regId) return;

            $(".data-table input[type=checkbox]:checked").each(function(i, element) {
                links[i] = { LinkId: parseInt(this.value), RoleName: $(this).data("role") };
            });

            $.post(url, { regId, links }, function(data) {
                if (data) $("#SuccessMessage").show();
            });
        });
    </script>
}

