
@{
    ViewData["Title"] = "Page Access";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles {
    <style>
        .DataTable { text-align: left }
        .DataTable th { background-color: #fff; color: #4f4f4f; padding-left: 20px }
        .DataTable td { padding-left: 20px }
    </style>    
}

<div class="container">
    <div class="card card-body">
        <h3 class="mb-3">Page Access</h3>
        @Html.DropDownList("SubAdmins", null, "[ SELECT ]", htmlAttributes: new { @class = "form-control mb-4" })
        <div id="table-container"></div>

        <button id="btnAssign" class="btn aqua-gradient btn-rounded">Assign</button>
        <div id="SuccessMessage" class="alert alert-success mt-2" style="display:none;">Assign Successfully!</div>
    </div>
</div>


@section Scripts {
    <script>
        $('#SubAdmins').change(function () {
            const regId = $(this).val();
            const url = "@Url.Action("GetLinks", "SubAdmin")";
            var tableContainer = $("#table-container");

            tableContainer.children().remove();
            $("#SuccessMessage").hide();

            if (!regId) return;

            $.get(url, { regId }, function (response) {
                if (response)
                    tableContainer.append(AddTable(response));
            });
        });

        function AddTable(data) {
            var table = '';
            $.each(data, function (i, item) {
                table += `<table class="DataTable table table-sm table-bordered nowrap">
                  <thead><tr><th><strong><i class="fas fa-angle-right"></i> ${item.Category}</strong></th></tr></thead>
                  <tbody>${AddRows(item.Links)}</tbody>
                </table>`;
            });

            return table;
        }

        function AddRows(data) {
            var row = '';
            $.each(data, function (i, item) {
                row += `<tr><td><input type="checkbox" ${item.IsAssign ? 'checked' : ''} data-role="${item.RoleName}" value="${item.LinkID}" class="form-check-input" id="${item.LinkID}"><label class="form-check-label" for="${item.LinkID}">${item.Title}</label></td></tr>`;
            });
            return row;
        }

        //Assign Click event to Button.
        $("#btnAssign").click(function () {
            const regId = $('#SubAdmins').val();
            var links = [];
            const url = "@Url.Action("postLinks", "SubAdmin")";
            var btn = $(this);

            if (!regId) return;

            btn.text("Submitting...");

            $(".DataTable input[type=checkbox]:checked").each(function (i, element) {
                links[i] = { LinkID: parseInt(this.value), RoleName: $(this).data("role") };
            });

            $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify({ regId, links }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data === 'True') {
                        $("#SuccessMessage").show();
                        btn.text("Assign");
                    }
                },
                error: function (response) {
                    console.log(response);
                    btn.text("Assign");
                }
            });
        });
    </script>
}

