@using InventoryManagement.Repository
@using InventoryManagement.Data
@model RegisterViewModel
@{
    ViewData["Title"] = "Sign Up Employee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Styles {
    <link href="~/css/Login.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
            <div class="card card-signin my-3">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <strong class="dark-grey-text">Sign Up Employee</strong>
                    </h5>

                    <form class="form-signin" asp-controller="SubAdmin" asp-action="SignUp" method="post">
                        <div class="text-center">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="s1" value="@UserType.Admin.ToString()" name="Type" required>
                                <label class="custom-control-label" for="s1">Sub-Admin</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="s2" value="@UserType.SalesPerson.ToString()" name="Type" required>
                                <label class="custom-control-label" for="s2">Sales Person</label>
                            </div>
                        </div>

                        <div class="md-form">
                            <input asp-for="Name" class="form-control">
                            <label for="Name">Name</label>
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="md-form">
                            <input asp-for="UserName" class="form-control">
                            <label for="UserName">User Name</label>
                            <span asp-validation-for="UserName"></span>
                        </div>
                        <div class="md-form">
                            <input asp-for="Phone" class="form-control">
                            <label for="Phone">Phone</label>
                            <span asp-validation-for="Phone"></span>
                        </div>
                        <div class="md-form">
                            <input asp-for="Address" class="form-control">
                            <label for="Address">Address</label>
                        </div>
                        <div class="md-form">
                            <input asp-for="Email" class="form-control">
                            <label for="Email">Email</label>
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="md-form">
                            <input asp-for="Password" class="form-control" type="password">
                            <label for="Password">Password</label>
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="md-form mb-5">
                            <input asp-for="ConfirmPassword" class="form-control" type="password">
                            <label for="ConfirmPassword">Confirm Password</label>
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <button class="btn btn-block btn-rounded z-depth-1a waves-effect waves-light peach-gradient mb-3" type="submit">Sign Up</button>
                        <div asp-validation-summary="ModelOnly"></div>
                    </form>
                </div>   
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}