
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container red-text p-5">
    <h1 class="text-center">Access Denied</h1>
    <h3 class="text-center">You don't have permission to view this page</h3>
</div>


