@using InventoryManagement.Repository
@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

    <form class="form-signin" asp-controller="Account" asp-action="ChangePassword" method="post">
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <div class="card card-body">
                        <h4 class="page-header my-3 h4-responsive text-center">Change Password</h4>

                        <div class="md-form">
                            <input asp-for="OldPassword" class="form-control" type="password">
                            <label asp-for="OldPassword"></label>
                            <span asp-validation-for="OldPassword"></span>
                        </div>
                        <div class="md-form">
                            <input asp-for="NewPassword" class="form-control" type="password">
                            <label asp-for="NewPassword"></label>
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="md-form">
                            <input asp-for="ConfirmPassword" class="form-control" type="password">
                            <label asp-for="ConfirmPassword"></label>
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <button class="btn btn-block btn-rounded z-depth-1a waves-effect waves-light peach-gradient my-3" type="submit">Change password</button>
                        
                        @if (!string.IsNullOrEmpty(Context.Request.Query["Message"]))
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                @Context.Request.Query["Message"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>

@section Scripts {
   <partial name="_ValidationScriptsPartial"/>
}