@using InventoryManagement.Data
@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <form class="form-signin" asp-controller="Account" asp-action="ChangePassword" method="post">
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <div class="card card-body">
                        <h4 class="my-3 h4-responsive text-center">Change Password</h4>

                        <div class="md-form">
                            <input asp-for="OldPassword" class="form-control" type="password">
                            <label asp-for="OldPassword"></label>
                            <span asp-validation-for="OldPassword"></span>
                        </div>
                        <div class="md-form">
                            <input asp-for="NewPassword" class="form-control" type="password">
                            <label asp-for="NewPassword"></label>
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="md-form">
                            <input asp-for="ConfirmPassword" class="form-control" type="password">
                            <label asp-for="ConfirmPassword"></label>
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <button class="btn btn-block btn-rounded z-depth-1a waves-effect waves-light peach-gradient my-3" type="submit">Change password</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

@section Scripts {
   <partial name="_ValidationScriptsPartial"/>
}