
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Home" asp-action="Logout" method="post" id="logoutForm">
        <div class="manu-top-wraper heavy-rain-gradient">
            <img id="loginUserPhoto" class="rounded-circle img-thumbnail" src="~/images/defaultImage.jpg" style="height: 100px; width: 100px" alt="Photo" />
            <ul class="p-0 mt-1">
                <li class="nav-item mb-2" id="loginUserName"></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-decoration-none p-0" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @UserManager.GetUserName(User)
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/Dashboard/Index">
                            <i class="fas fa-tachometer-alt"></i>
                            Dashboard
                        </a>
                        <a class="dropdown-item" href="/Manage/ChangePassword">
                            <i class="fas fa-lock"></i>
                            Change Password
                        </a>
                        <a class="dropdown-item" href="/Basic/Institution">
                            <i class="fas fa-building"></i>
                            Institution Info
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </form>
    <hr />
}
