@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-decoration-none" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
            <strong>@UserManager.GetUserName(User)</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink">
            @if (User.IsInRole("admin") || User.IsInRole("SubAdmin")) { 
            <a class="dropdown-item" href="/Dashboard/Index">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard
            </a>
            }
            @if (User.IsInRole("SalesPerson")) { 
                <a class="dropdown-item" href="/Salesman/Dashboard">
                    <i class="fas fa-tachometer-alt"></i>
                    Dashboard
                </a>
            }
            <a class="dropdown-item" href="/Account/ChangePassword">
                <i class="fas fa-lock"></i>
                Change Password
            </a>
            <div class="dropdown-divider"></div>
            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="w-auto">
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </a>
            </form>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a href="/Account/Login" class="nav-link waves-effect waves-light">
            <i class="fal fa-sign-in mr-1"></i>Login
        </a>
    </li>
}
