
@{
    ViewData["Title"] = "Stock Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



    <h4 class="page-header mb-3">Stock Report</h4>
    
    <table class="table table-sm">
        <thead>
        <tr>
            <th><strong>Brand & Model</strong></th>
            <th><strong>Stock</strong></th>
            <th><strong></strong></th>
        </tr>
        </thead>
        <tbody>
        <tr></tr>
        </tbody>
    </table>


